body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(0, 0, .5) !important;
    position:relative;
    color:white;
    font-family:monospace;
    font-size: large;
    color: rgb(255, 255, 255);
    height: 100vh;
    z-index: -1;
    
}
.hidden{
    display: none;
    color: gold;
}

.hidden.visible{
    display:block;
}

#userInput{
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
#terminal{
    font-size:large;
    font-family:monospace;
    cursor: text;
    display: inline-block;
    content: '';
}

.caret{
    animation: cursor 1s infinite;
    color: white;
}

@keyframes cursor {
    from{
        opacity: 1;
    }
    to {
        opacity:0;
    }
}

body::before{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: .5;
}

.content{
    z-index: 1;
    color: white;
    
    
}
.output{
    color:white;
}

.introduction{
    color:white;
}



#userInput{
    border:none;
    outline: none;
    background:transparent;
    caret-color: white;
    color: white;
    
}

.terminal{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding:10;
    box-sizing: border-box;
}

.prompt{
    margin-right: 10px;
    color:greenyellow;
}

.background-image{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

*{
    padding: 0;
    margin: 0;
}