body{
    background-image: url('melting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(0, 0, .5) !important;
    position:relative;
    color:white;
    font-family:monospace;
    font-size: large;
    color: rgb(255, 255, 255);
    height: 100vh;
    z-index: -1;
    
}
.hidden{
    display: none;
    color: gold;
}

.hidden.visible{
    display:block;
}

.userpath{
    color:#9966cc;
    display:inline;
}

.green{
    color:green;
}

.yellow{
    color:yellow;
}

#userInput{
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
#terminal{
    font-size:large;
    font-family:monospace;
    cursor: text;
    display: inline-block;
    content: '';
}

.caret{
    animation: cursor 1s infinite;
    color: white;
}

.bracket1{
    color:red;
    display:inline;
}

.bracket2{
    color:red;
    display:inline;
}

.at{
    color:#548143;
    display:inline;
}

.LDTerminal{
    color:#455e8a;
    display:inline;
}

.filepth{
    color:#9966cc;
    display:inline;
}

.moneysign{
    color:white;
    display:inline;
}

.user{
    color:gold;
    display:inline;
}



body::before{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: .5;
}

.content{
    z-index: 1;
    color: white;
    
    
}
.output{
    color:white;
}

.introduction{
    color:white;
}

.caret{
    color:#f1c232;
}


#userInput{
    border:none;
    outline: none;
    background:transparent;
    color: white;
    
}

.terminal{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding:10;
    box-sizing: border-box;
}

.prompt{
    margin-right: 10px;
    color:greenyellow;
}

.background-image{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

*{
    padding: 0;
    margin: 0;
}
